body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    background-color: #121212;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 3rem ;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.header {
    background-color: #121212;
}

.header p {
    font-weight: 900;
    font-size: 20px;
    color: #f5e8d8
}

.header-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
    color: white;
}

.header-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    padding: 20px
}

.text-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right:50px;
    gap: 5px;
}

#pug {
    width: 600px;
    height: 800px;
}

.header-content h1 {
    color: #f5e8d8;
    font-size: 48px;
    font-weight: 900;
    
}

.header-content p {
    color: #E5E7EB;
    font-size: 18px;
}


#sign-up-button-top {
    background-color: #a23601;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 32px;
    text-decoration:none;
    font-size: 16px;
    cursor:pointer;
    font-weight: 900;
    width: 200px;
    border-radius: 12px;
}

#sign-up-button-top:hover {
    background-color: #f5e8d8;
    border: none;
    color: #a23601;
    text-align: center;
    padding: 15px 32px;
    text-decoration:none;
    font-size: 16px;
    cursor:pointer;
    font-weight: 900;
    width: 200px;
    border-radius: 12px;
}

.information-content {
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.image-and-subtext {
    padding:20px
}

h2 {
    font-weight: 900;
    font-size: 36px;
    color: #f5e8d8
}

.quote {
    background-color: #121212;
    display: flex;
    justify-content: center;
    padding: 80px
}

.quote-text p {
    color: #e0e0e0;
    font-weight: 300
}

#quote-body {
    font-style: italic;
    font-size: 36px;
}
#quote-author {
    text-align:right;
    font-weight: bold;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-and-subtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.image-and-subtext img {
    width:400px;
    height: 400px;

}

.image-and-subtext p {
    color:#B0B0B0;
}

.footer-content {
    display: flex;
    background-color: #121212;
    margin: 100px auto;
    border: solid 1px #a23601;
    justify-content: space-evenly;
    align-items: center;
    gap:50px;
    max-width: 2000px;
}
.footer-text {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.footer-text p{
    color: white
}

#sign-up-button-bottom {
    background-color: #121212;
    border: 2px solid #f5e8d8;
    color: #f5e8d8;
    text-align: center;
    padding: 15px 32px;
    text-decoration:none;
    font-size: 16px;
    cursor:pointer;
    font-weight: 900;
    width: 200px;
    border-radius: 12px;
    height: 50px;
    width:200px;
    margin-right:20px
}

#sign-up-button-bottom:hover {
background-color: #a23601;
color: #f5e8d8
}

#call-to-action {
    font-weight: 900;
    font-size:24px
}

.footer {
    color:#f5e8d8;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}